<section class="article" id="article1">
    <!-- Article 1 content -->

    <h2>Value Of Money</h2>
<figure>
    <img src="img/josh-appel-NeTPASr-bmQ-unsplash.jpg" alt="money">
    <figcaption>E-Currency/Bitcoins.
    </figcaption>
</figure>
    <p>The value of money is a fundamental concept in economics that represents the purchasing power and utility that currency or money possesses. It encapsulates the capacity of money to be exchanged for goods, services, or assets. The value of money is influenced by various factors, including inflation, supply and demand dynamics, economic stability, and people's confidence in the currency's stability.<br> <br>

        In an economy, stable and predictable inflation is important for maintaining the value of money. When inflation is too high, the purchasing power of money decreases over time, leading to a decrease in the value of savings and investments. On the other hand, deflation, or a decrease in the general price level, can also impact economic stability by discouraging spending and investment.<br> <br>
        
        Additionally, the value of money can vary across different countries and regions due to currency exchange rates. Changes in these rates can affect international trade, investment opportunities, and global economic relationships.<br> <br>
        
        Understanding the value of money is crucial for individuals, businesses, and policymakers alike. It shapes financial decisions, investment strategies, and economic policies that aim to maintain a stable and healthy economic environment.<br> <br></p>

</section>
<section class="article" id="article2">
    <!-- Article 2 content -->

    <h2>GMO FOOD</h2>
    <figure>
        <img src="img/markus-spiske-_D4DyTYiGT8-unsplash.jpg" alt="FOOD">
        <figcaption>GMO Food Image.
        </figcaption>
    </figure>
   <p> Genetically Modified Organisms (GMO) refer to plants or animals that have been altered through genetic engineering to exhibit specific desired traits. These traits can include resistance to pests, improved nutritional content, or enhanced growth. GMOs are created by inserting genes from one species into another, allowing for the expression of desired characteristics.<br> <br>

    GMO foods have sparked debates about their safety, environmental impact, and ethical considerations. Proponents argue that GMOs can address issues such as food security and nutritional deficiencies, potentially leading to increased crop yields and reduced pesticide use. Critics express concerns about potential health risks, the potential for unintended ecological consequences, and the consolidation of seed and agricultural industries.<br> <br>
    
    Regulation and labeling of GMO foods vary by country, reflecting diverse perspectives on their benefits and risks. Overall, discussions around GMOs highlight the complex interplay between science, agriculture, ethics, and public policy in the modern food system.<br> <br></p>

</section>
<section class="article" id="article3">
    <!-- Article 3 content -->
    <h2>2100 What Lies Ahead</h2>
    <figure>
        <img src="img/peerapon-chantharainthron-kavu6S_qtYo-unsplash.jpg" alt="future">
        <figcaption>2100 Future.
        </figcaption>
    </figure>

<p>
    Imagining the world in 2100 conjures a realm of possibilities and challenges that could reshape our global landscape. Rapid technological advancements, shifts in demographics, and evolving environmental concerns are anticipated to significantly impact societies. With a projected world population exceeding 10 billion, resource management, sustainable energy, and equitable access to necessities will become paramount. <br><br>

Climate change will likely play a pivotal role, with potential consequences ranging from rising sea levels to altered weather patterns. Efforts to mitigate these effects and transition to renewable energy sources will shape the trajectory of the 22nd century. Moreover, breakthroughs in fields like artificial intelligence, biotechnology, and space exploration could redefine human capabilities and push boundaries previously thought impossible.<br><br>

While the future remains uncertain, collaborative international efforts will likely be crucial for addressing global challenges. The world of 2100 will be shaped by our actions today, as humanity grapples with the delicate balance between innovation, preservation, and shared responsibility for the generations yet to come. <br><br></p>
</section>