

<h2 id="pageinfo">PORTFOLIO PROJECTS</h2>


<div class="container">

<div class="card">
    <!-- Card 1 content -->
    <img src="../img/portfolio7.jpg" alt="portfolio picture">
    <h4>Polar-Exploration</h4>
</div>

<div class="card">
    <!-- Card 2 content -->
    <img src="../img/portfolio2.jpg" alt="portfolio picture">
    <h4>Solar-Harness</h4>
</div>

<div class="card">
    <!-- Card 2 content -->
    <img src="../img/portfolio3.jpg" alt="portfolio picture">
    <h4>Healthy-Diet</h4>
</div>

<div class="card">
    <!-- Card 2 content -->
    <img src="../img/portfolio4.jpg" alt="portfolio picture">
    <h4>Micro-Organisms</h4>
</div>

<div class="card">
    <!-- Card 2 content -->
    <img src="../img/portfolio5.jpg" alt="portfolio picture">
    <h4>Into The Seas</h4>
</div>

<div class="card">
    <!-- Card 2 content -->
    <img src="../img/portfolio6.jpg" alt="portfolio picture">
    <h4>Tribal Jungles</h4>
</div>

</div>
